<ion-view sb-page-background
          class="reviewpro reviewpro-home" cache-view="false">
     <ion-nav-title> {{ page_title }}</ion-nav-title>

     <ion-content class="has-header" ng-show="!is_loading" delegate-handle="mainScroll" scrollbar-y="false" overflow-scroll="false"> 

       <div class="list" ng-if="!is_logged_in">
         <div class="item item-body item-custom feedback-login-button">
             <button class="button button-block button-positive button-positive-custom" ng-click="login()" >{{ ::"Click here to log-in" | translate:"reviewpro" }}</button>
         </div>
       </div>


 	    <div class="list" ng-if="datas && !is_loading && datas.custom_rating_enable==1" ng-hide="is_customer_submit">         
             <div class="item item-body item-custom text-center feedback-heading">
                <h2 class="title" ng-if="datas.heading" sb-html="datas.heading"></h2>
    		    <p class="description text-center" ng-if="datas.message" sb-html="datas.message"></p>
             </div>

             <div class="item item-body item-custom text-center ion-star-item feedback-star-box" ng-if="datas.star_rating_enable == 1">
             	<div class="row ion-star-row">                
                <div class="col ion-star-col" ng-repeat="value in starArray"
                 ng-click="starSelected(value)">
                    <i class="icon icon-active-custom ion-ios-star{{value <= starSelectedValues?'':'-outline'}}"></i>
                </div>    				 
               </div>
             </div>
 
            <label class="item item-input item-custom item-stacked-label padding message-input-box" ng-if="datas.write_message_enable == 1">
                <span class="input-label">{{ ::"Leave a comment" | translate:"reviewpro" }}</span>
                 <textarea class="feedback-message" ng-model="feedback.message"></textarea>
            </label>

            <div class="item item-body item-custom feedback-submit-button" ng-if="datas.write_message_enable == 1 || datas.star_rating_enable == 1">
                <button class="button button-block button-positive button-positive-custom" ng-disabled="datas.star_rating_enable == 1 && starSelectedValues == 0" ng-click="saveFeedback()" >{{ ::"Submit" | translate:"reviewpro" }}</button>
           </div>
        </div> 

         <div class="list feedback-thankyou" ng-if="datas && !is_loading && datas.custom_rating_enable == 1" ng-show="is_customer_submit">  
            <div class="item item-body item-custom text-center">
                <i class="icon icon-active-custom ion-thumbsup" style="font-size: 35px;"></i>
                <h2 class="title">{{ ::"Thank You" | translate:"reviewpro" }}</h2>
                <p class="description text-center">{{ ::"You have already submitted feedback!" | translate:"reviewpro" }}</p>
             </div>
         </div>

         <div class="list feedback-block" ng-if="datas && !is_loading && datas.custom_rating_enable==0">  
            <div class="item item-body item-custom text-center">
               <p class="description text-center">{{ ::"The Feature is not activated!" | translate:"reviewpro" }}</p>
             </div>
         </div>
    
         <div class="list reatings-and-reviews" ng-if="datas.display_review == 1 && reviewsList.length">
            
            <div class="item item-divider item-divider-custom reatings-and-reviews-divider">
                  {{ ::"Ratings & Reviews" | translate:"reviewpro" }}
              </div>

            <div class="reatings-and-reviews-main" ng-repeat="review in reviewsList" >
                <div class="item item-avatar item-custom">
                    <img src="{{ customer_avatar(review.sender_image) }}">
                    <h2>{{review.sender_first_name}} {{review.sender_last_name}}</h2>
                    <p>{{ convertDate(review.created_at) }}</p>
                </div>

                <div class="item item-body item-custom reatings-and-reviews-body">
                <p ng-if="review.message != ''" sb-html="review.message">                    
                </p>
                <div class="row ion-star-row" ng-if="review.star_rating!=0">                
                    <div class="ion-star-col" ng-repeat="value in starArray"
                     ng-click="starSelected(value)">
                        <i class="icon icon-active-custom ion-ios-star{{value <= review.star_rating?'':'-outline'}}"></i>
                    </div>                   
                </div>

                <div class="item item-body item-custom item-reviewpro-reply" ng-if="review.reply">
                    <h2> {{ ::"Owner reply" | translate:"reviewpro" }}</h2>
                    <p sb-html="review.reply"></p>
                </div>
             </div>
           </div>
 
        </div>

        <ion-infinite-scroll ng-if="can_load_older_posts && datas.display_review == 1"
                             on-infinite="loadMore()"
                             immediate-check="false"
                             distance="30%"
                             class="spinner-custom">
        </ion-infinite-scroll>


    </ion-content>
</ion-view>
